@charset "utf-8";

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div#wrapper {
    margin: 0 auto 0 auto;
    width: 900px;
}

header {
    width: 700px;
    height: 150px;
    float: right;
    background-color: red;
}

div#container {
    width: 900;
    height: auto;
    background-color: skyblue;
}


div#left_side {
    float: left;
    width: 200px;
    height: auto;
    background-color: yellow;
}

div#content {
    width: 700px;
    height: auto;
    background-color: green;
    float: right;
}

div#container {
    float: right;
}

footer {
    background-color: hotpink;
}

.search {
    float: right;
    margin-bottom: 20px;
}

.article-list {
    width: 700px;
    height: auto;
}

.article {
    background-color: blueviolet;
    float: left;
    width: 210px;
    height: 150px;
    margin: 0px 10px 5px 10px;
    position: relative;
}

.article .text {
    padding: 2px;
    background-color: #093C77;
    position: absolute;
    bottom: 0px;
}

.title {
    color: #7e3311;
    font: normal normal normal 48px/19px Lucida Sans;
}


.article-title {
    margin-right: 2px;
    color: white;
    font-family: 'Lucida Sans';
    font-size: 12px;
}

.article-text {
    color: white;
    font-family: 'Lucida Sans';
    font-size: 8px;
}

.article-date {
    color: greenyellow;
    font-family: 'Lucida Sans';
    font-size: 12px;
    float: right;
    display: block;
    padding-bottom: 0px;
    padding-top: 10px;
}