{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static "/blog/css/style.css" %}" media="all">
</head>
<body>
    <div id="wrapper">

        <header>
            {% block header %}
            {% endblock %}
        </header>

        <div id="container">

            <div id="left_side">
                <!--
                {% block left_side %}
                {% endblock %}
                -->
                <form method="GET" action="{% url 'blog:index' %}">
                    <input type="text" name="keyword"></input>
                    <button type="submit">Search</button>
                </form>

                <li>home</li>
                <li>articles</li>
                <li>profile</li>
                <li>contact</li>
                <li>link</li>

            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

        </div>

        <div class="clearfix"></div>

        <footer>
            {% block footer%}
            {% endblock %}
        </footer>

    </div>
    
</body>
</html>